body
{
	background-color:pink;
}

.container
{
	height:600px;
	width:600px;
	background-color:blue;
}
.box1
{
	height:200px;
	width:600px;
	background-color:orange;
}
.box2
{
	height:200px;
	width:600px;
	background-color:white;
}
.box3
{
	height:200px;
	width:600px;
	background-color:green;
}

