body
{
	background-color:BLACK;
}

.container
{
	height:500px;
	width:500px;
	background-color:RED;
}
.box1
{
	height:500px;
	width:250px;
	background-color:ORANGE;
	float:left;
	font-size:20px;
}
.box2
{
	height:500px;
	width:250px;
	background-color:PINK;
	float:right;
	font-size:20px;
}
.h1
{
	color:red;
	
}
.li
{
	color:red;
	font-size:10px;
}
 
